cdr/XMetaL/CustomizationFiles/table.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--  MODULE:    HTML 4.0 Table                                    -->
<!--  VERSION:   1.0                                               -->
<!--  DATE:      April 13, 1999                                    -->
<!--                                                               -->
<!--  MULBERRY INTERNAL VERSION CONTROL:
$Id: table.ent,v 1.1.1.1 2002-01-24 21:54:54 ebator Exp $
     ============================================================= -->

<!-- =============================================================
     Formal Public Identifier:
"-//SoftQuad//DTD HTML 4.0 Table v1.0 19990413//EN"
     Delivered as file "table.ent"
     ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     SoftQuad XMetaL example application               -->
<!--                                                               -->
<!-- PURPOSE:    Encapsulate XML version of HTML 4.0 table-related -->
<!--             declarations                                      -->
<!--                                                               -->
<!-- CONTAINS:   1) Internal parameter entity declarations         -->
<!--             2) Element declarations                           -->
<!--                                                               -->
<!-- MODULES REQUIRED:                                             -->
<!--             None                                              -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             SoftQuad Software Inc.                            -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             April 7, 1999                                     -->
<!--                                                               -->
<!-- CREATED BY:                                                   -->
<!--             Mulberry Technologies, Inc. (TKG)                 -->
<!--             17 West Jefferson Street, Suite 207               -->
<!--             Rockville, MD  20850  USA                         -->
<!--             Phone:  +1 301/315-9631                           -->
<!--             Fax:    +1 301/315-8285                           -->
<!--             e-mail: info@mulberrytech.com                     -->
<!--             WWW:    http://www.mulberrytech.com               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--            DESIGN CONSIDERATIONS                              -->
<!--
    This is from HTML 4.0 Strict DTD, which excludes the presentation
    attributes and elements that W3C expects to phase out as
    support for style sheets matures.

    The element type names retain the same case as in the original
    HTML 4.0 DTD, and, therefore, do not conform to SoftQuad style.

    In creating an XML-compatible module, many comments were moved
    out of element and attribute declarations, and single
    declarations declaring multiple element types (i.e. "<!ELEMENT
    (a|b|c) ... >") were broken into multiple declarations, one for
    each element.

          Draft: -Date: 1998/03/27 11:54:38-

          Authors:
              Dave Raggett <dsr@w3.org>
              Arnaud Le Hors <lehors@w3.org>
              Ian Jacobs <ij@w3.org>

    Further information about HTML 4.0 is available at:

        http://www.w3.org/TR/REC-html40
-->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    CHANGE HISTORY                             -->
<!-- ============================================================= -->
<!--
                                                                   -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES USED IN HTML TABLES     -->
<!-- ============================================================= -->

<!--                    All the Parameter entities below are defined
                        in the HTML DTD, outside the section that
                        explicitly concerns "table"s, but are used in
                        the Table Section.                         -->

<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR CONTENT MODELS      -->
<!-- ============================================================= -->


<!--                    FLOW - CONTENT FOR TABLE CELLS             -->
<!--                    HTML has two basic content models:
                        1)%inline; Character level elements and text
                        strings and
                        2) %block; Paragraph-level elements such as
                        paragraphs and lists
                        HTML's %flow; contained both of these, so the
                        entity defined below contains both phrase
                        elements and paragraph-level elements.     -->
<!ENTITY % flow         "#PCDATA | %PhraseLevel; | %ParaLevel;"      >


<!--                    INLINE - CONTEXT FOR TABLE CELLS           -->
<!ENTITY % inline       "#PCDATA | %PhraseLevel;"                    >


<!-- ============================================================= -->
<!--                    ATTRIBUTE VALUES FOR SIZES.LENGTHS         -->
<!-- ============================================================= -->


<!--                    CHARACTER                                  -->
<!--                    A single character from [ISO10646]         -->
<!ENTITY % Character    "CDATA"                                      >


<!--                    LANGUAGE CODE                              -->
<!--                    A language code, as per [RFC1766]          -->
<!ENTITY % LanguageCode "NMTOKEN"                                    >


<!--                    LENGTH                                     -->
<!--                    Length defined in strict DTD for
                        cellpadding/cellspacing. "nn" for pixels or
                        "nn%" for percentage length                -->
<!ENTITY % Length       "CDATA"                                      >


<!--                    MULTILENGTH                                -->
<!--                    Pixel, percentage, or relative             -->
<!ENTITY % MultiLength  "CDATA"                                      >


<!--                    MULTILENGTH                                -->
<!--                    Integer representing length in pixels      -->
<!ENTITY % Pixels       "CDATA"                                      >


<!--                    RESERVED                                   -->
<!--                    Reserved for future use                    -->
<!ENTITY % reserved     ""                                           >


<!--                    SCRIPT EXPRESSION                          -->
<!ENTITY % Script       "CDATA"                                      >


<!--                    STYLESHEET DATA                            -->
<!ENTITY % StyleSheet   "CDATA"                                      >


<!--                    TEXT                                       -->
<!ENTITY % Text         "CDATA"                                      >


<!-- ============================================================= -->
<!--                    GENERIC ATTRIBUTES                         -->
<!-- ============================================================= -->


<!--                    HTML'S CORE ATTIBUTES                      -->
<!--         id         Document-wide unique id
             class      Space separated list of classes
             style      Associated style info
             title      Advisory title/amplification               -->
<!ENTITY % coreattrs
            "id         ID                     #IMPLIED
             class      CDATA                  #IMPLIED
             style      %StyleSheet;           #IMPLIED
             title      %Text;                 #IMPLIED"             >


<!--                    INTERNATIONALIZATION ATTRIBUTES            -->
<!--         lang       Language code
             dir        Direction for weak/neutral text            -->
<!ENTITY % i18n
            "lang       %LanguageCode;         #IMPLIED
             dir        (ltr|rtl)              #IMPLIED"             >


<!--                    INTERACTION EVENT CAPTURING ATTRIBUTES     -->
<!--         onclick    A pointer button was clicked
             ondblclick A pointer button was double clicked
             onmousedown
                        A pointer button was pressed down
             onmouseup  A pointer button was released
             onmouseover
                        A pointer was moved onto
             onmousemove
                        A pointer was moved within
             onmouseout A pointer was moved away
             onkeypress A key was pressed and released
             onkeydown  A key was pressed down
             onkeyup    A key was released                         -->
<!ENTITY % events
            "onclick    %Script;               #IMPLIED
             ondblclick %Script;               #IMPLIED
             onmousedown
                        %Script;               #IMPLIED
             onmouseup  %Script;               #IMPLIED
             onmouseover
                        %Script;               #IMPLIED
             onmousemove
                        %Script;               #IMPLIED
             onmouseout %Script;               #IMPLIED
             onkeypress %Script;               #IMPLIED
             onkeydown  %Script;               #IMPLIED
             onkeyup    %Script;               #IMPLIED"             >


<!--                    GENERIC ATTRIBUTES COLLECTED               -->
<!ENTITY % attrs        "%coreattrs; %i18n; %events;"                >


<!-- ============================================================= -->
<!--                    TABLE MATERIAL DIRECTLY FROM HTML          -->
<!-- ============================================================= -->


<!--================== tables ==================================== -->

<!-- IETF HTML table standard, see [RFC1942] -->

<!--
 The BORDER attribute sets the thickness of the frame around the
 table. The default units are screen pixels.

 The FRAME attribute specifies which parts of the frame around
 the table should be rendered. The values are not the same as
 CALS to avoid a name clash with the VALIGN attribute.

 The value "border" is included for backwards compatibility with
 <TABLE BORDER> which yields frame=border and border=implied
 For <TABLE BORDER=1> you get border=1 and frame=implied. In this
 case, it is appropriate to treat this as frame=border for backwards
 compatibility with deployed browsers.
-->


<!--                    TABLE FRAME                                -->
<!ENTITY % TFrame "(void|above|below|hsides|lhs|rhs|vsides|box|border)">

<!--
 The RULES attribute defines which rules to draw between cells:

 If RULES is absent then assume:
     "none" if BORDER is absent or BORDER=0 otherwise "all"
-->

<!--                    TABLE RULES                                -->
<!ENTITY % TRules "(none | groups | rows | cols | all)">

<!--                    HORIZONTAL PLACEMENT OF TABLE RELATIVE TO
                        DOCUMENT                                   -->
<!ENTITY % TAlign "(left|center|right)">

<!--                    CELL HORIZONTAL ALIGNMENT                  -->
<!--         align      horizontal alignment attributes for cell
                        contents                                   -->
<!--         char       alignment char, e.g. char=':'              -->
<!--         charoff    offset for alignment char                  -->
<!ENTITY % cellhalign
  "align      (left|center|right|justify|char) #IMPLIED
   char       %Character;    #IMPLIED
   charoff    %Length;       #IMPLIED  "
  >

<!--                    VERTICAL ALIGNMENT ATTRIBUTES FOR CELL
                        CONTENTS                                   -->
<!ENTITY % cellvalign
  "valign     (top|middle|bottom|baseline) #IMPLIED"
  >

<!--                    TABLE                                      -->
<!ELEMENT TABLE
     (CAPTION?, (COL*|COLGROUP*), THEAD?, TFOOT?, TBODY+)>

<!--                    TABLE CAPTION                              -->
<!ELEMENT CAPTION      (%inline;)*     >

<!--                    TABLE HEADER                               -->
<!ELEMENT THEAD        (TR)+           >

<!--                    TABLE FOOTER                               -->
<!ELEMENT TFOOT        (TR)+           >

<!--                    TABLE BODY                                 -->
<!ELEMENT TBODY        (TR)+           >

<!--                    TABLE COLUMN GROUP                         -->
<!ELEMENT COLGROUP     (COL)*          >

<!--                    TABLE COLUMN                               -->
<!ELEMENT COL          EMPTY           >

<!--                    TABLE ROW                                  -->
<!ELEMENT TR           (TH|TD)+        >

<!--                    TABLE HEADER CELL                          -->
<!ELEMENT TH           (%flow;)*       >

<!--                    TABLE DATA CELL                            -->
<!ELEMENT TD           (%flow;)*       >

<!--                    table element                              -->
<!--        %attrs;     %coreattrs, %i18n, %events
             summary    purpose/structure for speech output
             width      table width
             border     controls frame width around table
             frame      which parts of frame to render
             rules      rulings between rows and cols
             cellspacing
                        spacing between cells
             cellpadding
                        spacing within cells
            %reserved;  reserved for possible future use
             datapagesize
                        reserved for possible future use           -->
<!ATTLIST TABLE
  %attrs;
  summary     %Text;         #IMPLIED
  width       %Length;       #IMPLIED
  border      %Pixels;       #IMPLIED
  frame       %TFrame;       #IMPLIED
  rules       %TRules;       #IMPLIED
  cellspacing %Length;       #IMPLIED
  cellpadding %Length;       #IMPLIED
  %reserved;
  datapagesize CDATA         #IMPLIED
  >

<!--                    CELL ALIGNMENT                             -->
<!ENTITY % CAlign "(top|bottom|left|right)">

<!-- %coreattrs, %i18n, %events -->
<!ATTLIST CAPTION
  %attrs;
  >

<!--
COLGROUP groups a set of COL elements. It allows you to group
several semantically related columns together.
-->
<!--        %attrs;     %coreattrs, %i18n, %events
             span       default number of columns in group
             width      default width for enclosed COLs
            %cellhalign;
                        horizontal alignment in cells
            %cellvalign;
                        vertical alignment in cells                -->
<!ATTLIST COLGROUP
  %attrs;
  span        NMTOKEN        "1"
  width       %MultiLength;  #IMPLIED
  %cellhalign;
  %cellvalign;
  >

<!--
 COL elements define the alignment properties for cells in
 one or more columns.

 The WIDTH attribute specifies the width of the columns, e.g.

     width=64        width in screen pixels
     width=0.5*      relative width of 0.5

 The SPAN attribute causes the attributes of one
 COL element to apply to more than one column.
-->
<!--                    column groups and properties               -->
<!--        %attrs;     %coreattrs, %i18n, %events
             span       COL attributes affect N columns
             width      column width specification
            %cellhalign;
                        horizontal alignment in cells
            %cellvalign;
                        vertical alignment in cells                -->
<!ATTLIST COL
  %attrs;
  span        NMTOKEN        "1"
  width       %MultiLength;  #IMPLIED
  %cellhalign;
  %cellvalign;
  >

<!--
    Use THEAD to duplicate headers when breaking table
    across page boundaries, or for static headers when
    TBODY sections are rendered in scrolling panel.

    Use TFOOT to duplicate footers when breaking table
    across page boundaries, or for static footers when
    TBODY sections are rendered in scrolling panel.

    Use multiple TBODY sections when rules are needed
    between groups of table rows.
-->
<!--                    table section                              -->
<!--        %attrs;     %coreattrs, %i18n, %events
            %cellhalign;
                        horizontal alignment in cells
            %cellvalign;
                        vertical alignment in cells                -->
<!ATTLIST THEAD
  %attrs;
  %cellhalign;
  %cellvalign;
  >

<!ATTLIST TBODY
  %attrs;
  %cellhalign;
  %cellvalign;
  >

<!ATTLIST TFOOT
  %attrs;
  %cellhalign;
  %cellvalign;
  >

<!--                    table row                                  -->
<!--        %attrs;     %coreattrs, %i18n, %events
            %cellhalign;
                        horizontal alignment in cells
            %cellvalign;
                        vertical alignment in cells                -->
<!ATTLIST TR
  %attrs;
  %cellhalign;
  %cellvalign;
  >



<!--                    SCOPE                                      -->
<!-- Scope is simpler than axes attribute for common tables -->
<!ENTITY % Scope "(row|col|rowgroup|colgroup)">

<!--                    TH is for headers, TD for data, but for
                        cells acting as both use TD                -->
<!--                    header or data cell                        -->
<!--        %attrs;     %coreattrs, %i18n, %events
             abbr       abbreviation for header cell
             axis       names groups of related headers
             headers    list of id's for header cells
             scope      scope covered by header cells
             rowspan    number of rows spanned by cell
             colspan    number of cols spanned by cell
            %cellhalign;
                        horizontal alignment in cells
            %cellvalign;
                        vertical alignment in cells                -->
<!ATTLIST TH
  %attrs;
  abbr        %Text;         #IMPLIED
  axis        CDATA          #IMPLIED
  headers     IDREFS         #IMPLIED
  scope       %Scope;        #IMPLIED
  rowspan     NMTOKEN        "1"
  colspan     NMTOKEN        "1"
  %cellhalign;
  %cellvalign;
  >

<!ATTLIST TD
  %attrs;
  abbr        %Text;         #IMPLIED
  axis        CDATA          #IMPLIED
  headers     IDREFS         #IMPLIED
  scope       %Scope;        #IMPLIED
  rowspan     NMTOKEN        "1"
  colspan     NMTOKEN        "1"
  %cellhalign;
  %cellvalign;
  >

<!--==================  END OF TABLE MODULE  ==================== -->
